<style>
    :root {
        --blue-color-light: #6eb5ff;
        --blue-color-dark: #4b7eff;
        --background-color: #f9f9f9;
        --background-message-color: #f6f8fc;
        --text-color: #fff;
    }
    body {
        font-family: Arial, sans-serif;
        height: 100vh;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
        background-color: #fff;
    }
    button {
        background-color: var(--blue-color-light);
        display: inline-block;
        width: 150px;
        height: 40px;
        padding: 0;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .chat-container {
        padding: 30px;
    }
    .chat-container-content {
        margin: 30px;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.2);
        border-radius: 10px;
    }

    #chat-box {
        width: 100%;
        height: 70%;
        overflow-y: auto;
        display: flex;
        flex-direction: column; /* Remove the 'reverse' */
        justify-content: flex-end; /* New messages at the bottom */
        background-color: var(--background-message-color);
    }

    .current-user-message,
    .other-user-message {
        margin: 5px 0;
        padding: 10px;
        border-radius: 15px;
        max-width: 250px; /* Limit the width */
        word-wrap: break-word; /* Allow long words to be broken and wrap onto the next line */
    }

    #localVideo.inactive {
        display: none;
    }

    .msg-bottom {
        padding: 10px 20px;
        background-color: #fff;
        border-radius: 0px 0px 10px 10px; /* Bottom border radius */
    }
    .msg-top {
        height: 30px;
        padding: 20px;

        background-color: #fff;
        border-radius: 10px 10px 0px 0px;
    }

    #message-input {
        width: 100%;
        padding: 12px 20px;
        margin: 5px 0;
        border-radius: 30px;

        border: 1px solid #ccc;
    }

    .icon-group {
        margin: 5px 15px;
        display: flex;
        justify-content: space-between;
    }
    .icon-left span {
        margin-right: 10px;
    }
    .icon-left span i,
    .send-icon {
        font-size: 20px;
    }

    .icon-left span i:hover,
    .send-icon:hover {
        color: var(--blue-color-light);
        cursor: pointer;
        transition: 0.2s;
    }

    .current-user-message {
        margin: 0 15px 15px 0;
        text-align: right;
        background-color: var(--blue-color-dark);
        align-self: flex-end; /* Align to the right */
        color: #fff;
    }

    .other-user-message {
        text-align: left;
        background-color: #ededed;
        align-self: flex-start; /* Align to the left */
    }

    #localVideo,
    #remoteVideo {
        /* width: 213px; */
        height: 120px;
    }

    #localVideo {
        border-radius: 10px;
    }

    .video-container {
        margin: 10px 100px;
        height: 15vh;
        background-color: var(--blue-color-light);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
    }

    .screen-parent {
        background-color: #fff;
        width: 90%;
        display: flex;
        flex-direction: row;
    }

    .screen-center {
        display: flex;
        justify-content: center;
        height: 80vh;
    }

    .left-screen,
    .chat-container {
        flex: 1; /* Each takes half the space of the parent */
    }

    .left-screen {
        padding: 30px;
        border-right: 1px solid #ccc;
    }
</style>
<body>
    <div class="video-container">
        <video id="localVideo" autoplay playsinline></video>
        <video id="remoteVideo" autoplay playsinline></video>
    </div>
    <div class="screen-center">
        <div class="screen-parent">
            <div class="left-screen">
                <h1 class="welcome-heading">
                    Welcome the Islander, <%= name %>!
                </h1>
            </div>
            <div class="chat-container">
                <div class="chat-container-content">
                    <div class="msg-top"></div>

                    <div id="chat-box"></div>

                    <div class="msg-bottom">
                        <input
                            type="text"
                            id="message-input"
                            placeholder="Write Something..."
                        />

                        <div class="icon-group">
                            <div class="icon-left">
                                <span class="image-input-container">
                                    <input
                                        type="file"
                                        id="image-input"
                                        name="file"
                                        style="display: none; visibility: none"
                                        onclick="displayInput()"
                                    />
                                    <label for="image-input"
                                        ><i class="fa-solid fa-paperclip"></i
                                    ></label>
                                </span>
                                <span id="toggleCamera"
                                    ><i class="fa-solid fa-camera"></i
                                ></span>
                                <span onclick="sendImage()"
                                    ><i class="fa-regular fa-image"></i
                                ></span>
                                <span id="toggleMicrophone"
                                    ><i class="fa-solid fa-microphone"></i
                                ></span>
                            </div>
                            <span onclick="sendMessage()"
                                ><i
                                    class="send-icon fa-regular fa-paper-plane"
                                ></i
                            ></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<!-- Embed code for icon -->
<script
    src="https://kit.fontawesome.com/fb5c3cd0c8.js"
    crossorigin="anonymous"
></script>
<script src="/socket.io/socket.io.js"></script>
<script>
    const displayInput = () => {
        document.getElementById("image-input").style.display = "block";
        document.getElementById("image-input").style.visibility = "visible";
    };

    const socket = io.connect("http://localhost:3000");

    // Extract roomId from the URL
    const urlParams = new URLSearchParams(window.location.search);
    const roomId = urlParams.get("roomId");

    // Use the roomId to join the specific room
    socket.emit("join-room", roomId, "<%= name %>");

    // const socket = io.connect('http://3.12.163.231:3000');
    const localVideo = document.getElementById("localVideo");
    const remoteVideo = document.getElementById("remoteVideo");
    const configuration = {
        iceServers: [{ urls: "stun:stun.l.google.com:19302" }],
    };
    const peerConnection = new RTCPeerConnection(configuration);
    let isCameraOn = true; // Assuming the camera is on by default
    let localStream;

    document
        .getElementById("toggleCamera")
        .addEventListener("click", function () {
            if (isCameraOn) {
                if (localStream) {
                    let tracks = localStream.getTracks();
                    tracks.forEach((track) => track.stop());
                    localStream = null;
                }
                localVideo.classList.add("inactive"); // Hide the video element
                isCameraOn = false;
            } else {
                navigator.mediaDevices
                    .getUserMedia({ video: true, audio: true })
                    .then((stream) => {
                        localStream = stream;
                        localVideo.srcObject = stream;
                        localVideo.classList.remove("inactive"); // Show the video element
                        isCameraOn = true;
                    })
                    .catch((error) => {
                        console.error(
                            "Error accessing the camera and microphone",
                            error
                        );
                    });
            }
        });

    document
        .getElementById("toggleMicrophone")
        .addEventListener("click", function () {
            if (isMicrophoneOn && localStream) {
                localStream.getAudioTracks()[0].enabled = false;
                isMicrophoneOn = false;
            } else if (localStream) {
                localStream.getAudioTracks()[0].enabled = true;
                isMicrophoneOn = true;
            }
        });

    // Capture the local video and audio stream
    navigator.mediaDevices
        .getUserMedia({ video: true, audio: true })
        .then((stream) => {
            localStream = stream;
            localVideo.srcObject = stream;
            stream
                .getTracks()
                .forEach((track) => peerConnection.addTrack(track, stream));
        })
        .catch((error) => {
            console.error("Error accessing the camera and microphone", error);
        });

    // Capture the local video and audio stream
    navigator.mediaDevices
        .getUserMedia({ video: true, audio: true })
        .then((stream) => {
            localVideo.srcObject = stream;
            stream
                .getTracks()
                .forEach((track) => peerConnection.addTrack(track, stream));
        })
        .catch((error) => {
            console.error("Error accessing the camera and microphone", error);
        });

    // Handle the creation of the offer
    peerConnection.onnegotiationneeded = async () => {
        const offer = await peerConnection.createOffer();
        await peerConnection.setLocalDescription(offer);
        socket.emit("offer", offer);
    };

    // Update the remote stream when a new remote stream is added
    peerConnection.ontrack = (event) => {
        if (remoteVideo.srcObject !== event.streams[0]) {
            remoteVideo.srcObject = event.streams[0];
        }
    };

    // Handle the receipt of an offer
    socket.on("offer", async (offer) => {
        await peerConnection.setRemoteDescription(offer);
        const answer = await peerConnection.createAnswer();
        await peerConnection.setLocalDescription(answer);
        socket.emit("answer", answer);
    });

    // Handle the receipt of an answer
    socket.on("answer", (answer) => {
        peerConnection.setRemoteDescription(answer);
    });

    // Handle ICE Candidate events
    peerConnection.onicecandidate = (event) => {
        if (event.candidate) {
            socket.emit("ice-candidate", event.candidate);
        }
    };

    socket.on("ice-candidate", (iceCandidate) => {
        const candidate = new RTCIceCandidate(iceCandidate);
        peerConnection.addIceCandidate(candidate);
    });

    // Existing messaging logic
    socket.on("receiveMessage", (message) => {
        const chatBox = document.getElementById("chat-box");
        const messageDiv = document.createElement("div");

        if (message.senderName === "<%= name %>") {
            messageDiv.classList.add("current-user-message");
        } else {
            messageDiv.classList.add("other-user-message");
        }

        if (message.body.startsWith("<img")) {
            messageDiv.innerHTML = `${message.senderName}: ${message.body}`;
        } else {
            messageDiv.textContent = `${message.senderName}: ${message.body}`;
        }

        chatBox.appendChild(messageDiv);
    });

    function sendMessage() {
        const input = document.getElementById("message-input");
        socket.emit("sendMessage", {
            senderName: "<%= name %>",
            body: input.value,
        });
        input.value = "";
    }

    function sendImage() {
        const imageInput = document.getElementById("image-input");
        const formData = new FormData();
        formData.append("file", imageInput.files[0]);

        fetch("/upload", {
            method: "POST",
            body: formData,
        })
            .then((response) => response.json())
            .then((data) => {
                const imageUrl = data.imageUrl;
                socket.emit("sendMessage", {
                    senderName: "<%= name %>",
                    body: `<img src="${imageUrl}" alt="Image" width="250">`,
                });
            });
    }
</script>
